.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(13/10)*1rem;
	width:(19/13)*1em;
}
.icon-infinity {
	font-size:(10/10)*1rem;
	width:(18/10)*1em;
}
