extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sProgram/_sProgram.pug
include ../blocks/sOpportunity/_sOpportunity.pug
include ../blocks/sCheck/_sCheck.pug
include ../blocks/sWho/_sWho.pug
include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= null 
	- let  bg= '01.png'

block title
	- let  title= 'title'
	title= title
block pagecontent
	+top-nav()
	+headerBlock()
	+sProgram()
	+sOpportunity()
	+sCheck()
	+sWho()
	+sForm()
	+footer()