mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav--js.block-with-lazy
		+e.container.container
			+e.row.row.align-items-center
				.col
					+e.logo(href='/')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col-auto.d-none.d-sm-block
					+e.tell(href="tel:88007757427") 8 (800) 775-74-27
				.col-auto
					+e.soc-row.row
						+topNavSocItem('wa')
						+topNavSocItem('tg')
						+topNavSocItem('vb')
					
	// end top-nav

mixin topNavSocItem(imgName)
	.col-auto
		+e.soc(href='#')
			img(loading="lazy" src=`img/svg/soc-${imgName}.svg` alt="")

